button {
	width: 20%;
	height: 20%;
	padding: 15px;
	margin: 6px;
	border: 1px solid #4b4f4c;
	border-radius: 7px;
	flex-grow: 1;
	font-size: 1.1em;
	background-color: #4b4f4c;
	color: #dce0dd;
}

button:hover {
	background-color: #2c97d3;
}

.buttonOperation:hover {
	background-color: #57bc43;
}

.buttonEqual {
	width: 44%;
}

.buttonEqual  {
	background-color: #E62C19;
}

.buttonEqual:hover {
	background-color: #f82C19;
}

.memoryFull{
	background-color: #2c97d3;
}